{{#if erros}}
<div class="alert alert-warning" role="alert">
{{#each erros}}
<strong><p>{{this}}</p></strong>
{{/each}}
</div>
{{/if}}

{{#if success_msg}}
<div class="alert alert-success" role="alert">
{{#each success_msg}}
<strong><p>{{this}}</p></strong>
{{/each}}
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-warning" role="alert">
{{#each error_msg}}
<strong><p>{{this}}</p></strong>
{{/each}}
</div>
{{/if}}

{{#if error}}
<div class="alert alert-warning" role="alert">
{{#each error}}
<strong><p>{{this}}</p></strong>
{{/each}}
</div>
{{/if}}