.thumbnail img {
  max-height: 150px;
}
.price {
  font-weight: bold;
  font-size: 14px;
}

.inputEmail input[type=text], .inputPass input[type=password], .inputName input[type=text] {
padding-left: 40px;
}
.inputEmail, .inputPass, .inputName {
  position: relative;
}
.inputEmail i, .inputPass i, .inputName i {
position: absolute;
left: 14px;
top: 34px;
color: #aaa;
transition: .3s;
}
.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: 44px;
  padding: 10px 30px;
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
}

.card-img-top {
  height: 180px;
  width: 180px;
}

@media (max-width: 600px) {
  .card {
    margin: 0 auto;
    font-size: 1.5rem;
  }

}