
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.pinimg.com/originals/47/1a/1a/471a1ad342659289433e05a611d206f8.png" alt="user-photo">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Bio: Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Usuario: {{user.name}}</li>
    <li class="list-group-item">Membro desde: {{since}}</li>
    <li class="list-group-item">Carteira: {{user.wallet}}</li>
  </ul>
  
</div>